<!doctype html>
<html lang="en">
    <head>
        <!-- Title and Icon -->

        <title id="clientTitle">MiroTalk WebRTC Video call, Chat Room & Screen Sharing.</title>
        <link id="icon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->
        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk" />
        <meta property="og:title" content="Click the link to join this call." />
        <meta property="og:description" content="Free WebRTC browser-based video call." />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.org" />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="../images/favicon/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="../images/favicon/favicon.svg" />
        <link rel="shortcut icon" href="../images/favicon/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png" />
        <link rel="manifest" href="../images/favicon/site.webmanifest" />
 

        <!-- Bootstrap 5.3.3 & Icons -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

        <!-- Custom - StyleSheet -->
        <link rel="stylesheet" href="../css/videoGrid.css" />

        <!-- xss -->
        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>

        <style>
            html,
            body {
                height: 100%;
                margin: 0;
                padding: 0;
                overflow: hidden;
            }
        </style>
    </head>

    <body>
        <noscript>You need to enable JavaScript to run this app.</noscript>


        <!-- Top - VideoGrid -->
        <style>
            /* Seleziona la vista migliore */
            body {
                background-color: lightslategrey;
                border: 2px solid darkslategrey;
            }

            .legacy-center {
                /* center the div without flexbox */
                position: absolute;
                left: 50%;
                transform: translateX(-50%);

                /* Other shared CSS */
                max-width: 1263px;
                height: calc(100% - 5rem);
            }

            .hide {
                display: none !important;
            }


            #usergrid-many-grid-container > div {
                background-color: rgba(255, 255, 255, 0.8);
                text-align: center;
                padding: 20px 0;
                font-size: 30px;
            }

            #usergrid-many-flex-container > div {
                flex: 0 0 30%;
            }
        </style>
        

        <!-- 1 Big 5 small on right -->
        <div id="usergrid-one-to-five-container" class="legacy-center " style="
            display: inline-flex;
            width: 100%;

            padding: 16px;
            background-color: lightcoral;
            border: 2px solid red;">


            <!-- 1° utente -->
            <div class="rounded" style="
            height: 100%;
            width: calc(100% - 128px);
            margin-right: 16px;
            background-color: lightsalmon;
            border: 2px solid orange;"></div>

            <!-- 2° e 3° utente -->
            <div style="
            display: flex;
            flex-direction: column;
            gap: 16px;">
                <div class="rounded" style="
                    width: 202px;
                    height: 114px;
                    background-color: lightsteelblue;
                    border: 2px solid cadetblue;
                "></div>
                <div class="rounded" style="
                width: 202px;
                height: 114px;
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
                "></div>
                <div class="rounded" style="
                width: 202px;
                height: 114px;
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
                "></div>
                <div class="rounded" style="
                width: 202px;
                height: 114px;
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
                "></div>
                <div class="rounded" style="
                width: 202px;
                height: 114px;
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
                "></div>
            </div>
        </div>

        <!-- 1 big 1 float small -->
        <div id="usergrid-one-to-half-container" class="legacy-center hide" style="
            width: 100%;

            padding: 16px;
            background-color: lightcoral;
            border: 2px solid red;">


            <!-- 1° utente -->
            <div class="rounded" style="
            height: 100%;
            width: 100%;
            margin-right: 16px;
            background-color: lightsalmon;
            border: 2px solid orange;"></div>

            <!-- 2° utente -->
            <div class="rounded" style="
                position: absolute;
                bottom: 32px;
                right: 32px;
                width: 128px;
                width: 235px;
                height: 132px;
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>
        </div>
        
        <!-- LEGACY - MIRO LAYOUT -->
        <div id="usergrid-one-to-one-container" class="legacy-center hide" style="
            width: 100%;

            padding: 16px;
            
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: lightcoral;
            border: 2px solid red;">


            <!-- 1° utente -->
            <div class="rounded" style="
                height: 100%;
                width: 100%;
                max-height: 75%;
                margin-right: 16px;

                background-color: lightsalmon;
                border: 2px solid orange;
            "></div>

            <!-- 2° utente -->
            <div class="rounded" style="
                height: 100%;
                width: 100%;
                max-height: 75%;
                
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>

        </div>

        <!-- 1:1 many grid -->
        <div id="usergrid-many-grid-container" class="legacy-center hide" style="
            width: 100%;

            padding: 16px;
            
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 10px;

            background-color: lightcoral;
            border: 2px solid red;">

            <!-- 1° utente -->
            <div class="rounded" style="
                background-color: lightsalmon;
                border: 2px solid orange;
            "></div>

            <!-- Altri utenti -->
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>             
            <!-- <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div> -->


            
        </div>

        <!-- 1:1 many flex -->
        <div id="usergrid-many-flex-container" class="legacy-center hide" style="
            width: 100%;

            padding: 16px;
            
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            background-color: lightcoral;
            border: 2px solid red;">

            <!-- 1° utente -->
            <div class="rounded" style="
                background-color: lightsalmon;
                border: 2px solid orange;
            "></div>

            <!-- Altri utenti -->
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>

            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>

            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>
            
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>
            
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>            
            <div class="rounded" style="
                background-color: lightsteelblue;
                border: 2px solid cadetblue;
            "></div>
        </div>
        
        <!-- Bottom Controls -->
        <div style="
            position: fixed;
            bottom: 0;
            width: 100%;
            height: calc(5rem - 2px);
            background-color: plum;
            border: 2px solid purple;

            display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
            white-space: nowrap;
            z-index: 100;
            ">

            <div style="display: flex;
                align-items: center;
                margin-left: .75rem;
                flex: 1 1 25%;
                overflow: hidden;
                text-align: start;
                text-overflow: ellipsis;
            ">

                <span id="clock" style="
                    font-family: 'Google Sans',Roboto,Arial,sans-serif;
                    line-height: 1.5rem;
                    font-size: 1rem;
                    letter-spacing: .00625em;
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;
                    margin: 0 .75rem;
                ">9:43</span>
                <!-- #dadce0 -->
                <div style="align-self: center;border-left: 1px solid currentColor; height: 1rem;"></div>
                <span style="
                    font-family: 'Google Sans',Roboto,Arial,sans-serif;
                    line-height: 1.5rem;
                    font-size: 1rem;
                    letter-spacing: .00625em;
                    font-weight: 500;
                    align-items: center;
                    justify-content: center;
                    margin: 0 .75rem;
                ">aaa-aaa-aaa</span>

            </div>

            <div style="
                width: 100%;
                flex: 1 1 25%;
                display: grid;
                grid-auto-flow: column;
                padding: 0 6px;
                grid-column-gap: 12px;
            ">
                <button class="btn text-light"
                style="
                display: inline-block;
                max-width: 56px;
                max-height: 48px;
                background-color: #f9dedc;
                border-radius: 12px;
                border: none;
                padding: 12px 16px;
                ">
                <span style="display: block;width: 24px;height: 24px;color: #601410;">
                    <i class="bi bi-mic-mute-fill"></i>
                </span>
                </button>
                <button class="btn text-light"
                style="
                display: inline-block;
                max-width: 56px;
                max-height: 48px;
                background-color: #f9dedc;
                border-radius: 12px;
                border: none;
                padding: 12px 16px;
                ">
                <span style="display: block;width: 24px;height: 24px;color: #601410;">
                    <i class="bi bi-camera-video-off-fill"></i>
                </span>
                </button>
<!-- 
                <button class="btn text-light"
                    style="
                    display: inline-block;
                    max-width: 56px;
                    max-height: 48px;
                    background-color: #333537;
                    border-radius: 9999px;
                    border: none;
                    padding: 12px 16px;
                    ">
                    <span style="display: block;width: 24px;height: 24px;">
                        <i class="bi bi-badge-cc-fill"></i>
                    </span>
                </button> -->
                <button class="btn text-light"
                style="
                display: inline-block;
                max-width: 56px;
                max-height: 48px;
                background-color: #333537;
                border-radius: 9999px;
                border: none;
                padding: 12px 16px;
                ">
                <span style="display: block;width: 24px;height: 24px;">
                    <i class="bi bi-chat-left-text"></i>
                </span>
                </button>
                <button class="btn text-light"
                    style="
                    display: inline-block;
                    max-width: 56px;
                    max-height: 48px;
                    background-color: #333537;
                    border-radius: 9999px;
                    border: none;
                    padding: 12px 16px;
                    ">
                    <span style="display: block;width: 24px;height: 24px;">
                        <i class="bi bi-cast"></i>
                    </span>
                </button>
                <button class="btn text-light"
                style="
                display: inline-block;
                max-width: 56px;
                max-height: 48px;
                background-color: #333537;
                border-radius: 9999px;
                border: none;
                padding: 12px 16px;
                ">
                <span style="display: block;width: 24px;height: 24px;">
                    <i class="bi bi-person-raised-hand"></i>
                </span>
                </button>

                <button class="btn text-light"
                    style="
                    background-color: #333537;
                    border-radius: 9999px;
                    border: none;
                    height: 48px;
                    ">
                        <i class="bi bi-three-dots-vertical"></i>
                </button>

                <button class="btn text-light"
                style="
                height: 48px;
                padding: 0px 36px;
                color: white;
                background-color: #dc362e;
                border-radius: 9999px;
                border: none;
                ">
                <div>
                    <i class="bi bi-telephone-x-fill"></i>
                </div>
                </button>
            </div>
            
            <div style="
                display: flex;
                align-items: center;
                margin-right: calc(.75rem * 2);
                flex: 1 1 25%;
                overflow: hidden;
                text-align: end;
                justify-content: flex-end;
                text-overflow: ellipsis;
                gap: 6px;
                ">

                <button class="btn text-light" style="background-color: #333537;"><i class="bi bi-info-circle"></i></button>
                <button class="btn text-light" style="background-color: #333537;"><i class="bi bi-people"></i></button>
                <button class="btn btn-primary" onclick="ChangeLayout()"><i class="bi bi-columns-gap"></i></button>
                <div class="border border-end border-0" style="align-self: center;height: 1rem;border-color: currentColor !important;"></div>
                <button class="btn text-light" style="background-color: #333537;"><i class="bi bi-wifi"></i></button>

                <!--  -->
            </div>
        </div>

        <!-- <button class="btn text-light"
        style="
        display: inline-block;
        max-width: 56px;
        max-height: 48px;
        background-color: #333537;
        border-radius: 9999px;
        border: none;
        padding: 12px 16px;
        ">
        </button> -->



        <script>
            let layouts = [
                "usergrid-one-to-five-container",
                "usergrid-one-to-half-container",
                "usergrid-one-to-one-container",
                "usergrid-many-grid-container",
                "usergrid-many-flex-container"
            ];

            function ChangeLayout() {
                let currentLayout = layouts.shift();
                layouts.push(currentLayout);

                layouts.forEach(layout => {
                    document.getElementById(layout).classList.add("hide");
                });

                document.getElementById(currentLayout).classList.remove("hide");
            }

            // ---------------------------------------------------------------------
            // ---------------------------------------------------------------------

            function updateTime() {
                const now = new Date();
                const hours = now.getHours();
                const minutes = now.getMinutes();

                const timeElement = document.getElementById('clock');
                timeElement.textContent = `${hours}:${minutes}`;
            }

            updateTime();
            setInterval(updateTime, 60000); // update every 60 seconds (1 minute)

        </script>
    </body>
</html>